@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700*display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration:none;
    text-transform: capitalize;
}

.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding:20px 7%;
    background: #0C0D14;
    min-height: 100vh;
    gap: 15px;
    padding-bottom: 80px;
}

.container .content{
    flex: 1 1 400px;
}

.container .image{
    flex: 1 1 400px;
}

.container .image img{
    width: 100%;
}

.container .content .title{
    font-size: 45px;
    text-transform: uppercase;
    color:#3463cc;
}

.container .content p{
    color: #98A4D9;
    padding: 10px 0;
    line-height: 1.5;
}

.container .content .count-down{
    display: flex;
    gap: 15px;
    padding: 10px 0;
}

.container .content .count-down .box{
    padding: 5px;
    background: #E9E9EC;
    border: 1px solid #3333;
    border-radius: 5px;
    text-align: center;
    flex: 1 1 20px;
}

.container .content .count-down .box h3{
    font-size: 50px;
    color: #5e5e5e;
}

.container .content .count-down .box span{
    color: #3463cc;
    font-size: 20px;
}

.container .content .btn{
    display: inline-block;
    padding: 8px 50px;
    margin: 10px 0;
    font-size: 17px;
    background: #1C3089;
    color: #E9E9EC;
    transition: .2s ease-out;
    border-radius: 5px;
}

.container .content .btn:hover{
    transform: scale(1.05);
    letter-spacing: 2px;
}

@media (max-width:500px){
    .container{
        padding: 20px;
    }

    .container .content{
        text-align: center;
    }

    .container .content .title{
        font-size: 35px;
    }

    .container .content p{
        font-size: 14px;
    }

    .container .content .count-down{
        gap: 5px;
    }

    .container .content .count-down .box h3{
        font-size: 30px;
    }

    .container .content .count-down .box span{
        font-size: 15px;
    }
}